.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input{

  height: 40px;
  font-size: 20px;
  width: 100%;
  padding-left: 10px;
}

.search-container{
  margin-top: 1rem; padding: 10px 30px 10px 10px;
}

.emoji-result-container{
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-bottom: solid 1px #ccc;
}

.emoji-section{
font-size: 30px;
}

.emoji-text{
font-size: 16px;
margin-left: 10px;
}